@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
}

/* Degradê suave vermelho */
.bg-error-gradient {
  background: linear-gradient(135deg, #ff6b6b, #ff4f4f);
}

/* Animação slideUp */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.7s ease-out;
}

